html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #001f3f; /*Color del fondo*/
    color: #FFFFFF; /*Color general del texto en la pagina*/
    font-family: 'Courier New', Courier, monospace; /*Tipo de letra en la pagina*/
}

.header { /*Clase de la imagen*/
    position: relative;
    height: 50vh; /* Altura de la cabecera de la imagen, y lo de abajo la coloca como fondo con el desvanecimiento*/
    background: linear-gradient(to bottom, rgba(0,31,63,0) 0%, #001f3f 100%), url('#{request.contextPath}/resources/images/IMG_1.jpg') no-repeat center center;
    background-size: cover; /*Nos asegura que la imagen cubra el espacio adecuado*/
    z-index: 1; /*Aqui colocamos el control de apilamientos de objetos, en orden 1 va abajo de 2, 3 encima de 2, y asi*/
}

.big-title { /*Clase del titulo*/
    position: relative;
    text-align: left; /*Es la posicion donde estara el titulo*/
    font-size: 45px;
    margin-top: 300px; /* Ajustar este valor según sea necesario pero mejor no tocar, es lo que baja el titulo */
    margin-bottom: 5px;
    color: #d3d3d3;
    /* font-family: 'Arial', sans-serif; Cambia 'Arial' por la fuente que prefieras */
    font-weight: bold; /* Añade negrita para un aspecto más destacado */
    padding-left: 20px;
    z-index: 2; /* Asegurar de que sea mayor que el z-index de .header para que se muestre encima de la imagen de UMG*/
}

.highlight { /*Clase de la palabra PRO del titulo para darle otro color que no se igual al demas titulo*/
    color: red; /* Color de la palabra PRO del titulo */
}

.top-nav { /*Clase de la barra de enlaces que va en la parte superior de la pagina*/
    position: relative;
    display: flex; /*Nos facilita el diseño de elemenjtos internos*/
    justify-content: center;
    width: 100%;
    margin-top: -50vh; /* Ajusta según la altura de la cabecera */
    z-index: 2; /* Más alto que el z-index de .header */
    background-color: rgba(0, 31, 63, 0.9); /* Color de fondo con opacidad de la barra de enlaces */
    padding: 10px 0; /* Espaciado interno para los enlaces */
}

.top-nav a {
    color: white; /*Color de los textos*/
    text-decoration: none; /*Con este eliminamos el subrayado de los enlaces*/
    padding: 10px 25px;
    font-size: 16px;
    border-right: none;
    transition: background-color 0.3s; /*Agrea una transicion suve al cambiar el colo de fondo de los enlaces*/
    font-family: 'Arial', sans-serif; /*tipo de letra*/
}

.top-nav a:last-child {
    border-right: none;
}

.team-section { /* Clase para la sección del equipo */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.team-member { /* Clase para cada miembro del equipo */
    margin: 20px;
    text-align: center;
}

.team-member img { /* Estilo para las imágenes de los miembros del equipo */
    border-radius: 0%; /* Hace que las imágenes sean circulares */
    width: 200px; /* Ancho de las imágenes */
    height: 200px; /* Altura de las imágenes */
    object-fit: cover; /* Asegura que las imágenes se ajusten correctamente */
    transition: transform 0.3s ease;
}

.team-member img:hover{/*Es el estilo para el estado over de las imagenes*/
    transform: scale(1.1); /*Logra escalar la imagen al 110% de su tamaño original*/
}

.team-member h2 { /* Estilo para el nombre de los miembros del equipo */
    margin-top: 10px;
    font-size: 18px;
    color: #d3d3d3; /* Color del texto del nombre */
}

.separator {
    width: 80%; /* 80% del ancho de la pantalla */
    height: 2px; /* Altura de la línea */
    background-color: #fff; /* Color blanco para la línea */
    margin: 10px auto; /* Centrar horizontalmente y añadir margen inferior */
}

h3.big-title { /* Clase del subtítulo */
    margin-top: 10px; /* Ajusta el espacio superior del título del objetivo */
    text-align: center;
    color: #d3d3d3;
}

.text-section {
    margin: 40px auto;
    width: 80%; /* O el ancho que se desee */
    padding: 20px;
    background-color: #f0f0f0; /* Cambia el color de fondo segun el diseño */
    color: #333; /* Cambia el color de texto según el diseño */
    border-radius: 8px; /* Esto es por si queremos border redondeados*/
}

.section-title {
    font-size: 24px; /* Tamaño del título */
    color: #002f6c; /* Color del título */
    margin-bottom: 15px; /* Espacio entre el título y el texto */
}

.section-text {
    font-size: 16px; /* Tamaño del texto */
    line-height: 1.6; /* Espacio entre líneas*/
    font-weight: bold; /*Aplica la letra negrita al texto*/
}

.footer {
    background-color: #f0f0f0; /* Color de fondo del footer */
    color: #666; /* Color del texto del footer */
    text-align: center; /* Alineación del texto */
    padding: 20px; /* Espaciado interno */
    width: 100%; /* Ancho completo */
    z-index: 100; /* Asegurar que esté por encima de otros elementos */
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* Sombra para separar del contenido */
}
